body {
    width:100vw;
    height:100vh;

    display:flex;
    position:relative;
    align-items:center;
    justify-content:center;
    overflow: hidden;
}
body::before {
    filter: brightness(53%);
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

.dayClear::before {
    background-image: url('../assets/background-images/clearsky-day.jpg');
}

.nightClear::before {
    background-image: url('../assets/background-images/clearsky-night.jpg');
}

.dayCloudy::before {
    background-image: url('../assets/background-images/cloudy-day.jpg');
}

.nightCloudy::before {
    background-image: url('../assets/background-images/cloudy-night.jpg');
}

.dayRain::before {
    background-image: url('../assets/background-images/rain-day.jpg');
}

.nightRain::before {
    background-image: url('../assets/background-images/rain-night.jpg');
}

.dayThunderstorm::before {
    background-image: url('../assets/background-images/thunderstorm-day.jpg');
}

.nightThunderstorm::before {
    background-image: url('../assets/background-images/thunderstorm-night.jpg');
}

.dayMist::before {
    background-image: url('../assets/background-images/mist-day.jpg');
}

.nightMist::before {
    background-image: url('../assets/background-images/mist-night.jpg');
}

.daySnow::before {
    background-image: url('../assets/background-images/snow-day.jpg');
}

.nightSnow::before {
    background-image: url('../assets/background-images/snow-night.jpg');
}


.input-search-div input {
    width: 300px;
    height: 38px;
    border: none;
    
    border-radius: 0 0 20px;
    font-size: 20px;
    padding-left: 27px;

    background-color: rgba(0, 0, 0, 0.541);
    border-left: 3px solid rgb(255 255 255 / 2%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
    border-right: 1px solid rgba(255, 255, 255, 0.055);
    
    outline: none;
    color: white;
}

.input-search-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.input-search-div fa-icon {
    color: rgba(255, 255, 255, 0.815) !important;;
    font-size: 20px;
    transition-duration: 300ms;
}

.input-search-div fa-icon:hover {
    color: rgb(255, 255, 255) !important;
    filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.603));
    transition-duration: 300ms;
    cursor: pointer;
}

.input-search-div button {
    margin-right: 15px;
    background-color: rgba(0, 255, 255, 0);
    border: none;
}

.input-search-div input::placeholder {
    color: rgba(255, 255, 255, 0.658);
}

.input-search-icon-div {
    display: flex;
    overflow: visible;
    box-sizing: content-box;
    position: fixed;
    color: #ffffff86;
    padding-left: 8px;
    justify-content: space-between;
}

.input-search-icon-div fa-icon {
    color: rgba(255, 255, 255, 0.733) !important;
    font-size: 17px;
}

.content-flex-div {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content-flex-div-hamburger {
    padding-bottom: 241px;
}

.blur {
    filter: blur(5px);
}

.content-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal-card {
    display: flex;
    width: 500px;
    height: 320px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(2px);
    background: linear-gradient(280deg, rgb(0 0 0 / 43%) 0%, rgb(0 0 0 / 12%) 76%);
    border-top: 2px solid rgb(255 255 255 / 8%);
    border-left: 3px solid rgb(255 255 255 / 2%);
    border-bottom: 2px solid rgb(255 255 255 / 2%);
    border-right: 1px solid rgba(255, 255, 255, 0.027);
    box-shadow: 0 0 20px #00000061;
    border-radius: 35px;
    flex-direction: column;
    transition-duration: 300ms;
    margin-bottom: 50px;
}

.principal-card:hover {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(4px);
    transition-duration: 300ms;
}

.card-header {
    display: flex;
    border-radius: 35px 35px 0 0;
    background-color: rgb(0 0 0 / 22%);
    max-width: 500px;
    max-height: 100px;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 13px;
    flex-direction: row;
    white-space: nowrap;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: clip;
}


.iconAndLocalDiv {
    display: flex;
    align-items: center;
}

.card-header fa-icon {
    color: rgba(255, 255, 255, 0.952);
}

.icons {
    padding: 0 12px 0 2px;
    font-size: 3.17rem;
    color: rgba(255, 255, 255, 0.897) !important;

    transition-duration: 300ms;
}

.icons:hover {
    color: rgb(255, 255, 255) !important;
    transition-duration: 300ms;
}

.location-title {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.322),
    0 0 22px #ffffff36,
    0 0 28px #ffffff1c;
    color: rgb(247, 247, 247);
    
    text-overflow: inherit;
    font-size: 2.22rem;
    transition-duration: 200ms;
}

.location-title:hover {
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.5),
    0 0 30px #ffffff50,
    0 0 35px #ffffff25;
    color: white;

    transition-duration: 200ms;
    cursor: default;
}

.content {
    width: 100%;
    height: 100%;
    border-radius: 0 0 35px 35px;
}

.content-principal {
    width: auto;
    height: 128px;
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-top: 5px;
    align-items: center;
    justify-content: flex-start;
}

.content-principal h1 {
    font-size: 100px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.842);
    height: 110px;

    text-shadow: 0 0 10px rgba(255, 255, 255, 0.322),
    0 0 20px #ffffff34,
    0 0 24px #ffffff1c;
    
    color: rgb(247, 247, 247);
    animation: principal-light 1s infinite;
    cursor: default;
}

@keyframes principal-light {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.322),
        0 0 20px #ffffff34,
        0 0 24px #ffffff1c;
    }

    50% {
        text-shadow: 0 0 13px rgba(255, 255, 255, 0.322),
        0 0 23px #ffffff34,
        0 0 27px #ffffff1c;
    }

    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.322),
        0 0 20px #ffffff34,
        0 0 24px #ffffff1c;
    }
}

.content-principal-MaxMin {
    color: rgba(255, 255, 255, 0.795);
    font-size: 20px;
    font-weight: 200;
    display: flex;
    width: 125px;
    height: 28px;
    padding: 0px 8px 0 0;
    justify-content: space-evenly;
    cursor: default;
}

.content-principal-MaxMin fa-icon {
    font-size: 16px;
    font-weight: 100;
    padding: 2px 4px 0 4px;
}


.content-principal-MaxMin fa-icon {
    color-scheme: rgb(0, 255, 34) !important;
}
.content-principal-MaxMin fa-icon:first-child {
    color: rgb(89, 233, 76) !important;
    animation: brightnessAnimation 1.5s infinite;
}
.content-principal-MaxMin fa-icon:last-child {
    color: rgb(209, 78, 78) !important;
    animation: brightnessAnimation 1s infinite;
}

@keyframes brightnessAnimation {
    0% {
        filter: brightness(88%);
    }
    50% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(88%);
    }
}


.content-secundary {
    display: flex;
    width: auto;
    height: 93px;
    border-radius: 0 0 35px 35px;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: default;
}

.content-secundary span {
    display: inline-block;
}

.content-secundary p {
    color: rgba(255, 255, 255, 0.925);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.226);
}

.content-secundary-first-p {
    color: rgba(255, 255, 255, 0.822) !important;
    text-shadow: none !important;
}

.api-desc-div {
    font-size: 15px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.185);
    text-align: end;
    padding-right: 10px;
    padding-bottom: 4px;
    cursor: default;
}

.errorText {
    animation: errorTextanimation 1s;
}

@keyframes errorTextanimation {
    0% {
        color: rgb(255, 81, 81);
        padding-left: 26px;
    }

    10% {
        padding-left: 28px;
    }

    20% {
        padding-left: 26px;
    }

    30% {
        padding-left: 28px;
    }

    50% {
        padding-left: 27px;
    }

    100% {
        color: white;
    }
}

.desc-div {
    width: 100%;
    height: 30px;
    color: rgba(255, 255, 255, 0.747);
    font-size: 18px;
    padding: 3px 0 0 12px;

    transition-duration: 300ms;
}

.desc-div:hover {
    cursor: default;
    color: rgba(255, 255, 255, 0.884);
    transition-duration: 300ms;
}

.desc-div p::first-letter {
    text-transform: uppercase;
}

.modalWarning {
    padding: 6px 300px;
    text-align: center;
    display: flex;
    position: fixed;
    height: 103vh;
    width: 103vw;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: linear-gradient(118deg, rgb(12 12 12 / 18%) 0%, rgb(26 26 26 / 22%) 76%);
    box-shadow: 0 0 60px #ffffff0d;
    z-index: 2;
    color: rgb(255 255 255);
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.212);
    cursor: default;
    font-weight: 200;
}

.modalWarning h1 {
    font-weight: 400;
    transition-duration: 300ms;
}

.modalWarning h1:hover {
    letter-spacing: 2px;
    transition-duration: 300ms;
}

.modalWarning a {
    text-decoration: none;
    color: rgb(96, 194, 255);
    transition-duration: 300ms;
}

.modalWarning a:hover {
    color: rgb(73, 146, 255);
    transition-duration: 300ms;
}

.lineWarning {
    margin-top: 5px;
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.068);
}

.modalWarning button {
    margin-top: 10px;
    height: 45px;
    width: 270px;
    border: none;
    border-radius: 13px;
    font-size: 22px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.432);
    border: 1px solid rgba(255, 255, 255, 0.781);
    color: rgb(255, 255, 255);
    transition-duration: 300ms;
}

.modalWarning button:hover {
    background-color: rgba(0, 0, 0, 0.534);
    border: 1px solid rgba(255, 255, 255, 0.938);
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.11);
    transition-duration: 300ms;
}

.modalWarning fa-icon {
    color: white !important;
}


.bookmarkIcon {
    color: rgba(255, 255, 255, 0.678) !important;
    transition-duration: 300ms;
    font-size: 16px;
}

.bookmarkIcon:hover {
    color: rgb(255, 255, 255) !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.308);
    transition-duration: 300ms;
    cursor: pointer;
}

.buttonBookmarkIcon {
    margin-right: 20px;
    height: auto;
    width: 15px;
    background-color: #ffffff00;
    border: none;
}

.menuContentDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 250px;
    justify-content: space-evenly;
}

.menuContentDiv button p, fa-icon {
    font-size: 25px;
    transition-duration: 300ms;
    line-height: 1.5em;
    color: white !important;
}

.menuContentDiv button p fa-icon:hover {
    filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.603));
    transition-duration: 300ms;
}

.menuContentDiv button p:hover {
    letter-spacing: 1px;
    transition-duration: 300ms;
    margin-left: 7px;
    cursor: pointer;
}

.menuContentDiv button {
    background-color: rgba(250, 235, 215, 0);
    border: none;
}

.menuDiv {
    display: flex;
    background: linear-gradient(213deg, rgb(0 0 0 / 64%) 0%, rgb(0 0 0 / 48%) 76%);
    border-top: 2px solid rgb(255 255 255 / 8%);
    border-left: 3px solid rgb(255 255 255 / 2%);
    border-bottom: 2px solid rgb(255 255 255 / 2%);
    border-right: 1px solid rgba(255, 255, 255, 0.027);
    box-shadow: 0 0 20px #00000061;
    height: 300px;
    width: 500px;
    flex-direction: column;
    font-size: 20px;
    border-radius: 30px;
    color: white;
    margin-bottom: 50px;
    padding: 18px 12px;
}

.menuDivtitle {
    text-align: center;
    cursor: default;
    transition-duration: 300ms;
}

.menuContentDiv button a {
    text-decoration: none;
}

.menuDivtitle:hover {
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.397));
    letter-spacing: 1px;
    transition-duration: 300ms;
}

.musicplayerDiv {
    display: flex;
    border-radius: 0px 20px 0 0;
    height: 47px;
    width: 100%;
    padding: 5px 8px;
    z-index: 8;
    color: white;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.445) 28%, rgba(255,21,21,0) 100%);
}

.musicplayerDivMax {
    display: flex;
    width: 295px;
    max-width: 295px;
    min-width: 295px;
    z-index: 8;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.musicplayerDiv fa-icon {
    color: #ebebeb !important;
}

.timeDisplayDivMax {
    padding: 0 10px 0 10px;
}
.musicplayerDiv p:nth-child(5) {
    margin: 0 10px 0 0;
}

.musicplayerDiv button {
    cursor: pointer;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.219));
}

.musicPlayerDivRange {
    padding: 0 10px;
}

input[type=range] {
    margin: 6.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-progress {
    background: #fd0606 !important;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(224, 224, 224, 0.192);
    border: 0;
    border-radius: 6px;
    width: 100%;
    height: 9.4px;
    transition: 0.51s;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -6.8px;
    width: 23px;
    height: 23px;
    background: #0a0a0a;
    border: 0.5px solid #3d3d3d;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}


input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(224, 224, 224, 0.192);
    transition: 0.5s;
}

input[type=range]::-webkit-slider-runnable-track:hover {
    background: rgba(224, 224, 224, 0.507);
    transition: 0.5s;
}

input[type=range]::-moz-range-track {
    background: rgba(64, 5, 204, 0.5);
    border: 0;
    border-radius: 6px;
    width: 100%;
    height: 9.4px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 23px;
    height: 23px;
    background: #0a0a0a;
    border: 2.8px solid #141414;
    border-radius: 50px;
    cursor: pointer;
}