body {
    width:100vw;
    height:100vh;

    display:flex;
    position:relative;
    align-items:center;
    justify-content:center;
}
body::before {
    filter: brightness(57%);
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

.dayClear::before {
    background-image: url('../assets/background-images/clearsky-day.jpg');
}

.nightClear::before {
    background-image: url('../assets/background-images/clearsky-night.jpg');
}

.dayCloudy::before {
    background-image: url('../assets/background-images/cloudy-day.jpg');
}

.nightCloudy::before {
    background-image: url('../assets/background-images/cloudy-night.jpg');
}

.dayRain::before {
    background-image: url('../assets/background-images/rain-day.jpg');
}

.nightRain::before {
    background-image: url('../assets/background-images/rain-night.jpg');
}

.dayThunderstorm::before {
    background-image: url('../assets/background-images/thunderstorm-day.jpg');
}

.nightThunderstorm::before {
    background-image: url('../assets/background-images/thunderstorm-night.jpg');
}

.dayMist::before {
    background-image: url('../assets/background-images/mist-day.jpg');
}

.nightMist::before {
    background-image: url('../assets/background-images/mist-night.jpg');
}



.input-search-div {
    height: 32px;
    width: 300px;
}

.input-search-div input {
    width: 300px;
    height: 36px;
    border: none;
    
    border-radius: 0 0 20px;
    font-size: 20px;
    padding-left: 27px;

    background-color: rgba(0, 0, 0, 0.603);
    border-left: 3px solid rgb(255 255 255 / 2%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
    border-right: 1px solid rgba(255, 255, 255, 0.055);
    
    outline: none;
    color: white;
}

.input-search-div input::placeholder {
    color: rgba(255, 255, 255, 0.658);
}

.input-search-icon-div {
    overflow: visible;
    box-sizing: content-box;
    padding: 7px 0 0 0;
    position: fixed;
    color: #ffffff6e;
    padding-left: 8px;
}

.content-flex-div {
    display: flex;
    width: 100vw;
    height: 94vh;
    justify-content: center;
    align-items: center;
}

.content-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
}

.principal-card {
    display: flex;
    width: 500px;
    height: 320px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(0px);
    background: linear-gradient(280deg, rgb(0 0 0 / 43%) 0%, rgb(0 0 0 / 12%) 76%);
    border-top: 2px solid rgb(255 255 255 / 8%);
    border-left: 3px solid rgb(255 255 255 / 2%);
    border-bottom: 2px solid rgb(255 255 255 / 2%);
    border-right: 1px solid rgba(255, 255, 255, 0.027);
    box-shadow: 0 0 20px #00000061;
    border-radius: 35px;
    flex-direction: column;
    transition-duration: 300ms;
    margin-bottom: 50px;
}

.principal-card:hover {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(3px);
    transition-duration: 300ms;
}

.card-header {
    display: flex;
    border-radius: 35px 35px 0 0;
    background-color: rgb(0 0 0 / 22%);
    max-width: 500px;
    max-height: 100px;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 13px;
    flex-direction: row;
    white-space: nowrap;
    overflow: auto;
    overflow-x: hidden;
}

.card-header fa-icon {
    color: rgba(255, 255, 255, 0.952);
}

.icons {
    padding: 0 12px 0 0;
    font-size: 3.17rem;
}

.location-title {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.322),
    0 0 22px #ffffff36,
    0 0 28px #ffffff1c;
    color: rgb(247, 247, 247);
    
    text-overflow: inherit;
    font-size: 2.22rem;
    transition-duration: 200ms;
}

.location-title:hover {
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.5),
    0 0 30px #ffffff50,
    0 0 35px #ffffff25;
    color: white;

    transition-duration: 200ms;
    cursor: default;
}

.content {
    width: 100%;
    height: 100%;
    border-radius: 0 0 35px 35px;
}

.content-principal {
    width: auto;
    height: 148px;
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-top: 5px;
    align-items: center;
    justify-content: flex-start;
}

.content-principal h1 {
    font-size: 100px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.842);
    height: 110px;

    text-shadow: 0 0 10px rgba(255, 255, 255, 0.322),
    0 0 20px #ffffff34,
    0 0 24px #ffffff1c;
    
    color: rgb(247, 247, 247);
    animation: principal-light 1s infinite;
    cursor: default;
}

@keyframes principal-light {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.322),
        0 0 20px #ffffff34,
        0 0 24px #ffffff1c;
    }

    50% {
        text-shadow: 0 0 13px rgba(255, 255, 255, 0.322),
        0 0 23px #ffffff34,
        0 0 27px #ffffff1c;
    }

    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.322),
        0 0 20px #ffffff34,
        0 0 24px #ffffff1c;
    }
}

.content-principal-MaxMin {
    color: rgba(255, 255, 255, 0.795);
    font-size: 20px;
    font-weight: 200;
    display: flex;
    width: 125px;
    height: 28px;
    padding: 0px 8px 0 0;
    justify-content: space-evenly;
    cursor: default;
}

.content-principal-MaxMin fa-icon {
    font-size: 16px;
    font-weight: 100;
    padding: 2px 4px 0 4px;
}


.content-principal-MaxMin fa-icon {
    color-scheme: rgb(0, 255, 34) !important;
}
.content-principal-MaxMin fa-icon:first-child {
    color: rgb(89, 233, 76) !important;
    animation: brightnessAnimation 1.5s infinite;
}
.content-principal-MaxMin fa-icon:last-child {
    color: rgb(209, 78, 78) !important;
    animation: brightnessAnimation 1s infinite;
}

@keyframes brightnessAnimation {
    0% {
        filter: brightness(88%);
    }
    50% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(88%);
    }
}


.content-secundary {
    display: flex;
    width: auto;
    height: 93px;
    border-radius: 0 0 35px 35px;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: default;
}

.content-secundary span {
    display: inline-block;
}

.content-secundary p {
    color: rgba(255, 255, 255, 0.925);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.226);
}

.content-secundary-first-p {
    color: rgba(255, 255, 255, 0.822) !important;
    text-shadow: none !important;
}

.api-desc-div {
    font-size: 15px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.185);
    text-align: end;
    padding-right: 10px;
    padding-bottom: 4px;
    cursor: default;
}

.errorText {
    animation: errorTextanimation 1s;
}

@keyframes errorTextanimation {
    0% {
        color: rgb(255, 81, 81);
        padding-left: 26px;
    }

    10% {
        padding-left: 28px;
    }

    20% {
        padding-left: 26px;
    }

    30% {
        padding-left: 28px;
    }

    50% {
        padding-left: 27px;
    }

    100% {
        color: white;
    }
}