<body [ngClass]="{
    'dayClear': this.weatherData.isDay == true && this.clear == true,
    'dayCloudy': this.weatherData.isDay == true && this.clouds == true,
    'dayRain': this.weatherData.isDay == true && this.rain == true,
    'dayThunderstorm': this.weatherData.isDay == true && this.thunderstorm == true,

    'nightClear': this.weatherData.isDay == false && this.clear == true,
    'nightCloudy': this.weatherData.isDay == false && this.clouds == true,
    'nightRain': this.weatherData.isDay == false && this.rain == true,
    'nightThunderstorm': this.weatherData.isDay == false && this.thunderstorm == true
  }">

  <div class="content-div">
    <div class="input-search-icon-div">
      <fa-icon [icon]="icons.faMagnifyingGlass"></fa-icon>
    </div>

    <div class="input-search-div">
      <input type="text" placeholder="Digite sua cidade..." spellcheck="false" [class]="{'errorText': searchError == true}" (keyup.enter)="search($event)">
    </div>

    <div class="content-flex-div">
      <div class="principal-card">
        <div class="card-header">
          <fa-icon [icon]="icons.faCloudMoonRain" class="icons"></fa-icon>
          <p class="location-title">{{weatherData.cityName}}, {{weatherData.countryCod}}</p>
        </div>
        <div class="content">
          <div class="content-principal">
            <h1>{{weatherData.temp}}º</h1>
            <div class="content-principal-MaxMin">
              <fa-icon [icon]="icons.faArrowUp"></fa-icon>
              <p>{{weatherData.tempMax}}º</p>/
              <p>{{weatherData.tempMin}}º</p>
              <fa-icon [icon]="icons.faArrowDown"></fa-icon>
            </div>
          </div>
          <div class="content-secundary">
            <p class="content-secundary-first-p">Sensação: <span><p>{{weatherData.tempFeelsLike}}º</p></span></p>
            <p class="content-secundary-first-p">Umidade: <span><p>{{weatherData.tempHumidity}}%</p></span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="api-desc-div">
      <p>© 2012 — 2022 OpenWeather API ®</p>
    </div>
  </div>
</body>